<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.parrotgeek.nowkeyboard">
    <application android:allowBackup="true" android:icon="@android:drawable/ic_search_category_default" android:label="NowKeyboard" android:theme="@android:style/Theme.NoDisplay">
        <activity android:excludeFromRecents="true" android:label="NowKeyboard" android:name=".TrampolineActivity" android:noHistory="true" android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.systemui.action_assist_icon" android:resource="@android:drawable/ic_search_category_default" />
        </activity>
    </application>
</manifest>
