Package: com.parrotgeek.ifilefix
Name: iFile Crash Fix
Pre-Depends: grep, sed
Depends: eu.heinelt.ifile
Architecture: iphoneos-arm
Description: Fixes iFile crash on launch.
Maintainer: parrotgeek1 <parrotgeek1@gmail.com>
Author: parrotgeek1 <parrotgeek1@gmail.com>
Section: Tweaks
Version: 1.0
