Package: com.parrotgeek.nobetaalert
Name: NoBetaAlert
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Hide "Please update from the iOS beta" alert (iOS 7-11)
Maintainer: Ethan Nelson-Moore
Author: Ethan Nelson-Moore
Section: Tweaks
